 <!-- Modal  ml bootstrap -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Secteur de livreur different de l'adresse de livraison!! </h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="annulerAffectation()">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       Continuer l'affectation !!
     </div>
     <div class="modal-footer">
       <button  type="button" class="btn btn-secondary" data-dismiss="modal" (click)="annulerAffectation()">Non</button>
       <button type="button" class="btn btn-danger" (click)="affecterCommande()">Oui</button>
     </div>
   </div>
 </div>
 </div>