nav{
    height:1cm;
    background-color: rgb(20, 20, 248);
}
body{
    color: rgb(180, 180, 200);
    width: 7cm;
    height: 9cm;
    box-shadow: 0 25px 80px rgba(56, 56, 56, 0.5);
    border: 1px solid #3498db;
    
}
input.form-control{
    width: 5.8cm;
    height: 1cm;
}
svg{
    width: 0.9cm;
    height: 0.9cm;
}
.corps{
    width: 6.7cm;
    height:6.8cm;
    position: relative;
}
